<div class="dashboard">
  <h2>Dashboard</h2>

  <div class="welcome-message">
    <h3>Welcome, {{user.name}}!</h3>
    <p>Email: {{user.email}}</p>
  </div>

  <h3>Your Reading List</h3>
  <h5>Add more books to your list by browsing the catalog</h5>
  {{#if user.readingList.length}}
    <div class="book-list">

      {{#each user.readingList}}
        <div class="book-item">
          <h3><a href="/api/books/{{this._id}}">{{this.title}}</a></h3>
          <p>Author: {{this.author}}</p>
          <p>Genre: {{this.genre}}</p>
          <p>Rating: {{this.rating}} / 5</p>
          <p>Rating Count: {{this.ratingCount}}</p>
        </div>
      {{/each}}
    </div>

  {{else}}
    <p>Your reading list is empty. Start adding books to it from the catalog!</p>
  {{/if}}
</div>